{% extends "base.html.twig" %}
{% block customcss %}
<link rel="stylesheet" href="css/home.css">
{% endblock %}
{% block container %}
    <div class="container">
        <div class="col-6 float-left">left</div>
        <div class="col-6 float-left">right</div>
    </div>
{% endblock %}