{% extends "base.html.twig" %}

{% block title %}
    Strona główna projektu :)
{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="css/home.css">
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
    Strona główna
</li>
{% endblock %}
{% block main %}
<main class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 px-2 m-auto">



{% if app.user.idMagazynu is empty %}

<div class="container">
    <div class="col-12 float-left">Wybierz <a href="{{ path('app_magazyn_show') }}">magazyn</a></div>
</div>
{% else %}
<div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Przyjęcia</h4>
            </div>
            <div class="card-body">
                <a href="{{ path('app_przyjecia') }}" class="w-100 btn btn-lg btn-outline-success">Przejdź</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Wydania</h4>
            </div>
            <div class="card-body">
                <a href="{{ path('app_wydania') }}" class="w-100 btn btn-lg btn-outline-primary">Przejdź</a>
                {# <button type="button" onclick="window.location.href='{{ path('app_wydania') }}'" class="w-100 btn btn-lg btn-outline-primary">Przejdź</button> #}
            </div>
        </div>
    </div>
</div>
{% endif %}
</main>
{% endblock %}