{% extends "base.html.twig" %}
{% block customcss %}
<link rel="stylesheet" href="css/home.css">
{% endblock %}
{% block container %}
    <div class="container">
    </div>
    {% if app.user.idMagazynu is empty %}
    <div class="container">
        <div class="col-12 float-left">Wybierz <a href="magazyn">magazyn</a></div>
    </div>
    {% endif %}

{% endblock %}