{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="col-6 float-left">left</div>
        <div class="col-6 float-left">right</div>
    </div>
{% endblock %}