{% extends 'base.html.twig' %}

{% block title %}Magazyny{% endblock %}

{% block main %}

{% for item in result %}
<div>{{ item.id }}</div><div>{{ item.nazwa }}</div><div>{{ item.domyslny }}</div>
{% endfor %}


{% endblock %}