{% extends 'base.html.twig' %}

{% block title %}Magazyny{% endblock %}

{% block main %}

<main class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-3 px-2 m-auto">
    {% if app.request.query.get("completed") is null %}
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Sukces! Dodano magazyn: {{ app.request.query.get("name") }}
        <button type="button" onclick="window.location.href='/magazyn'" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endif %}
<div class="list-group mb-3">
    {% for item in result %}
    <a href="/magazyn/change/{{item.id}}" name={{ item.id }} class="list-group-item list-group-item-action {% if item.id == aktywny %}active{% endif %}" {% if item.id == aktywny %}aria-current="true"{% endif %}>{{ item.nazwa }}</a>
    {% endfor %}
</div>
{% if is_granted('ROLE_ADMIN') %}
<a href="/magazyn/add" class="btn btn-outline-primary" role="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
      </svg>
    Dodaj
</a>
{% endif %}
</main>
{% endblock %}